<div id="ocean">
  <div id="intro">
    Click on  the submarine to switch to the next route.
  </div>
  {{#link-to 'next-page'}}<img src="../images/yellow_submarine.gif" id="submarine">{{/link-to}}
  <div class="depth">
    — 500 fathoms
  </div>
  <div class="depth">
    — 1000 fathoms
  </div>
  <div class="depth">
    — 1500 fathoms
  </div>
  <div class="depth">
    — 2000 fathoms
  </div>
  <div class="depth">
    — 2500 fathoms
  </div>
  <div class="depth">
    — 3000 fathoms
  </div>
  <div class="depth">
    — 3500 fathoms
  </div>
  <div class="depth">
    — 4000 fathoms
  </div>
  <div class="depth">
    — 4500 fathoms
  </div>
  <div class="depth">
    — 5000 fathoms
  </div>
</div>
