<div id="space">
  <div id="stars">
    <div id="intro">
      Orbital velocity achieved! You are at the top of the page.
    </div>
    {{#link-to 'home-page'}}<img src="../images/yellow_submarine.gif" class="flip" id="submarine">{{/link-to}}
    <div class="depth right">
      — Orbit -500 km
    </div>
    <div class="depth right">
      — Orbit -1000 km
    </div>
    <div class="depth right">
      — Orbit -1500 km
    </div>
    <div class="depth right">
      — Orbit -2000 km
    </div>
    <div class="depth right">
      — Orbit -2500 km
    </div>
    <div class="depth right">
      — Orbit -3000 km
    </div>
    <div class="depth right">
      — Orbit -3500 km
    </div>
    <div class="depth right">
      — Orbit -4000 km
    </div>
    <div class="depth right">
      — Orbit -4500 km
    </div>
    <div class="depth right">
      — Orbit -5000 km
    </div>
  </div>
</div>
